aside#sidebar{
  float:right;
  width: 30%;
  margin-top: 10px;

}
article#main-col{
  float: left;
  width: 65%;
}

ul#service li{
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;


}
aside#sidebar .quote input,aside#sidebar .quote, input ,textarea{
  width: 90%;
  padding: 5px;
}

@media(max-width:768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float: none;
    text-align: center;
    width: 100%;
  }
  header{
    padding-bottom: 20px;
  }
  #newsletter button{
    display: block;
    width: 100%;
  }
  #newsletter form input[type="email"]{
    width: 100%;
    margin-bottom: 5px;
  }
}